*:not(h2) {
	font-size: 16px;
	color: white
}

body {
	background: black
}

button {
	padding: 8px;
	background: black;
	border: 2px solid white;
	border-radius: 0;
	cursor: pointer
}

a {
	color: #07f;
	cursor: pointer
}

hr {
	border: 1px solid white;
}

/* HEADER */
#footer {
	position: fixed;
	right: 8px;
	top: 8px;
	font-size: 12px
}

#footer_box {
	position: fixed;
	right: 8px;
	top: 30px;

	width: 240px;
	height: 300px;

	overflow-y: auto;
	background: black;
	border: 2px solid white;
}

/* CURRENCIES */
p {
	& > span > b {
		font-size: 1.5em
	}
	& > * {
		font-size: 1em;
		height: 1em
	}
}

/* UPGRADES */
button.upg {
	height: 120px;
	width: 300px;
	&.locked {
		border-color: #733;
		cursor: not-allowed
	}
	& > b {
		font-size: 1.25em
	}
}

/* TABS */
#tab_btns {
	& > * {
		margin-top: 0;
	}
	& > button {
		border-bottom: 0px solid
	}
	& > button.active {
		padding-top: 12px;
		background: white;
		color: black
	}
}